# local env files
.env
.env.local
.env.production
.env.development
*.env
.firebase-config-reference.env

# Dependencies
node_modules/
package-lock.json

# Uploads
uploads/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db